<%- include("header") -%>

<h2>INTODUCTION</h2>
  
<p>This is a full Stack web app where you can create you own custom multiple lists by adding /you list name on url
   
   created by - SAM 2023
   Modules used :
   <ul>
    <li>html,css,javascript</li>
    <li>Node.js</li>
    <li>express</li>
    <li>mongoose :- for database</li>
    <li>ejs :- for templates</li>
    <li>lodash</li>
    <li>body-parser</li>
   </ul>
</p>

<%- include("footer") -%>
